body{background-color: black;}

h1{color:white;
font-size: 50px;
font-family: 'Times New Roman', Times, serif;
text-align: center;
}

h2{color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    }

    
h3{color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    }
    
h4{color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    }
    
h5{color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    }
    
h6{color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    }

    img{margin: 10px;
    padding-top: 10px;
    border-radius: 30px;
}
